.outside {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	min-width: 400px;
	min-height: 400px;
	background-color: #fff;
	border-radius: 15px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close {
	background: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}

.modal button img {
	width: 30px;
	height: 30px;
}
